@using Microsoft.AspNetCore.Components.Web
@inject IThemeService ThemeService

<CascadingValue Value="this">
    <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode;

    protected override void OnInitialized()
    {
        _isDarkMode = ThemeService.IsDarkMode;
        ThemeService.ThemeChanged += OnThemeChanged;
    }

    private void OnThemeChanged(object? sender, bool isDarkMode)
    {
        _isDarkMode = isDarkMode;
        StateHasChanged();
    }

    public bool IsDarkMode
    {
        get => _isDarkMode;
        set
        {
            if (_isDarkMode != value)
            {
                _isDarkMode = value;
                ThemeService.IsDarkMode = value;
            }
        }
    }
}
